* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ffb900;
    --font-heading: Sen, sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    line-height: 1;
}

/* Common */
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 118px;
    line-height: 50px;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 0px 16px;
    background: rgb(23, 17, 0);
    border-radius: 999px;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.heading {
    color: #171100;
    font-family: var(--font-heading);
    font-weight: 700;
    letter-spacing: -1.16px;
}

.heading.lv1 {
    font-size: 5.8rem;
    line-height: 1.17; /* 117.241% */
}

.heading.lv2 {
    font-size: 3.8rem;
    line-height: 1.26; /* 126.316% */
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.break-all {
    word-break: break-all;
}

/* ==================== Header ==================== */

.header {
    background: rgb(255, 252, 244);
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0px 8px;
}

.header .logo {
}

.header .nav {
    margin-left: auto;
}

.header .nav ul {
    display: flex;
}

.header .nav a {
    position: relative;
    font-size: 1.6rem;
    color: rgb(95, 91, 83);
    padding: 8px 21px;
}

.nav a:hover,
.nav li.active a {
    text-shadow: currentcolor 1px 0px 0px;
    color: rgb(23, 17, 0);
}

.nav li.active a::after {
    position: absolute;
    left: 21px;
    bottom: 6px;
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    background: rgb(23, 17, 0);
    border-radius: 1px;
}

.header .active {
}

.header .action {
    margin-left: 49px;
}

.header .btn {
    min-width: 144px;
}

.header .ign-up-btn {
    min-width: 144px;
}

/* ==================== Hero ==================== */
.hero {
    padding: 56px 0 65px 0;
    background: #fffcf4;
}
.hero .body {
    display: flex;
}

/* Hero left */
.hero .media-block {
    display: flex;
    position: relative;
    width: 48%;
}

.hero .media-block .img {
    display: block;
    width: 470px;
    height: 685px;
    border-radius: 20px;
    object-fit: cover;
}

.hero .hero-summary {
    position: absolute;
    right: 0;
    bottom: 48px;
    background: #fff;
    width: 270px;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero-summary .item {
    display: flex;
    align-items: center;
    margin-top: 14px;
}

.hero-summary .item:first-child {
    margin-top: 0;
}

.hero-summary .icon {
    width: 48px;
    height: 48px;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff9e8;
}

.hero-summary .item:nth-of-type(2) .icon {
    background: #fcefff;
}

.hero-summary .item:nth-of-type(3) .icon {
    background: #ebeaff;
}

.hero-summary .label {
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.857; /* 185.714% */
}

.hero-summary .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.667; /* 166.667% */
}

.hero-summary .info {
    margin-left: 16px;
}

/* Hero right */
.hero .content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}

.content-block .desc {
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.667; /* 166.667% */
    margin-top: 22px;
}

.content-block .cta-group {
    display: flex;
    align-items: center;
    margin: 38px 0 48px;
}

.content-block .hero-cta {
    min-width: 180px;
    line-height: 64px;
    background-color: var(--primary-color);
}

.content-block .watch-video {
    margin-left: 28px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.6667; /* 166.667% */
    cursor: pointer;
}

.content-block .watch-video:hover {
    opacity: 0.9;
}

.content-block .watch-video .icon {
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 999px;
    line-height: 40px;
    margin-right: 14px;
}

.hero .stats {
    margin: 8px 0 0 -28px;
}

.content-block .stats strong {
    color: #171100;
    font-family: var(--font-heading);
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.22727; /* 122.727% */
    padding: 0 8px 0 28px;
}

/* ==================== Popular ==================== */
.popular {
    padding: 200px 0;
}

/* Popular top */
.popular .popular-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .info {
}

.popular-top .heading {
    color: #171100;
    font-family: var(--font-heading);
    font-weight: 700;
    letter-spacing: -0.76px;
}

.popular-top .desc {
    margin-top: 16px;
    width: 458px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.667; /* 166.667% */
}

.popular .controls {
    display: flex;
    gap: 18px;
}

.popular-top .control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background: transparent;
    border-radius: 50%;
}

.popular .control-btn:hover {
    background: var(--primary-color);
    color: #fff;
    cursor: pointer;
}

/* Popular bottom */
.course-list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.course-list .course-item {
    flex: 1;
    border-radius: 12px;
    background: #fff;
    border: 1px solid #e2dfda;
}

.course-list .course-item:hover {
    border-color: transparent;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.course-list .thumb {
    width: calc(100% + 2px);
    height: 278px;
    object-fit: cover;
    margin: -1px;
    border-radius: 12px 12px 0px 0px;
}

.course-list .info {
    margin: 16px 22px 22px;
}

.course-list .foot,
.course-list .rating,
.course-list .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course-list .title a {
    padding-right: 6px;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.667; /* 166.667% */
}

.course-list .rating {
}

.course-list .star {
}

.course-list .value {
    color: #fea31b;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
    margin-left: 6px;
}

.course-list .desc {
    margin-top: 6px;
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85714; /* 185.714% */
}

.course-list .foot {
    margin-top: 12px;
}

.course-list .price {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.667; /* 166.667% */
}

.course-list .btn {
    border: none;
}

.course-list .btn:hover {
    background: var(--primary-color);
}

/* ==================== Feedback ==================== */
.feedback {
    padding: 96px 0;
    background: #2e2100;
}

.feedback-list {
    display: flex;
    overflow: hidden;
}

.feedback-item {
    display: flex;
    flex-shrink: 0;
    width: 100%;
}

.feedback-item .info {
    /* width: 159px; */
}

.feedback-item .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback-item .info .title {
    margin-top: 18px;
    color: #f7f7f7;
    font-family: var(--font-heading);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.42; /* 141.667% */
}

.feedback-item .info .desc {
    margin-top: 4px;
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86; /* 185.714% */
}

.feedback-item .info .dots {
    margin-top: 28px;
    display: flex;
}

.feedback-item .info .dot {
    width: 6px;
    height: 6px;
    margin-right: 6px;
    border-radius: 50%;
    background: #634700;
    cursor: pointer;
}

.feedback-item .info .dot.active {
    background: #ffb900;
    cursor: default;
}
.feedback-item .content {
    width: 66%;
    margin-left: 241px;
    margin-left: auto;
}

.feedback-item .content .open-quotes {
}
.feedback-item .content blockquote {
    margin-left: 30px;
    color: #fff;
    font-size: 2.6rem;
    font-style: italic;
    line-height: 1.54; /* 153.846% */
}

/* ==================== Features ==================== */
.features {
    margin-top: 135px;
    padding: 65px 0;
}

.features .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.features .images {
    display: flex;
    gap: 0 30px;
}

.features .images img {
    width: 270px;
    height: 404px;
    object-fit: cover;
    border-radius: 16px;
}

.features img.lower {
    margin-top: 34px;
}

.features .content {
    width: 41%;
}

.features .content .heading {
    /* color: #171100;
    font-family: var(--font-heading);
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26;
    /* letter-spacing: -0.76px; */
}

.features .content .desc {
    margin-top: 16px;
    color: #5f5b53;
    font-size: 1.6rem;
    line-height: 1.75; /* 175% */
}

.features .content .btn {
    margin-top: 32px;
    min-width: 137px;
    background: var(--primary-color);
}

/* Features-2nd */
.features-2nd {
    margin-top: 70px;
}

.features-2nd .body {
    flex-direction: row-reverse;
}

.features-2nd .content {
    width: 49%;
}

.features-2nd .images img {
    width: 470px;
    height: 440px;
    border-radius: 20px;
}

/* ==================== Blog ==================== */
.blog {
    margin-top: 135px;
    padding: 96px 0;
    background: #fffcf4;
}
.blog .blog-top {
    text-align: center;
}

.blog-top .heading {
    /* color: #130606;
    font-family: var(--font-heading);
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26;
    letter-spacing: -0.76px; */
}

.blog-top .desc {
    margin: 16px auto 0;
    width: 448px;
    color: #696262;
    font-size: 1.6rem;
    line-height: 1.75; /* 175% */
}

.blog .blog-list {
    display: flex;
    margin-top: 55px;
    gap: 0 30px;
    overflow: hidden;
}

.blog .item {
    width: calc(100% / 3 - 20px);
    background: #fff;
    border-radius: 16px;
    flex-shrink: 0;
}
.blog .item:hover {
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.blog .thumb {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
}

.blog .info {
    margin: 20px 20px 28px;
}
.blog .date {
    color: #5f5b53;
    font-size: 1.4rem;
    line-height: 1.86; /* 185.714% */
    display: inline-flex;
    align-items: center;
    position: relative;
    padding-bottom: 12px;
}

.blog .date::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--primary-color);
    margin-right: 4px;
}

.blog .date.date::after {
    content: "";
    display: inline-block;
    width: 160px;
    height: 1px;
    border-radius: 999px;
    background: #e2dfda;
    position: absolute;
    left: 0;
    bottom: 0;
    right: -27px;
}
.blog .title {
    margin-top: 12px;
}

.blog .title a {
    color: #171100;
    font-family: var(--font-heading);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75; /* 175% */
}

.blog .btn {
    margin-top: 12px;
    font-size: 1.4rem;
}

.blog .item .btn:hover {
    background: var(--primary-color);
}

.blog .dots {
    display: flex;
    gap: 6px;
    margin-top: 38px;
    justify-content: center;
}

.blog .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #5f5b53;
    cursor: pointer;
}

.blog .dot.active {
    cursor: default;
    background: var(--primary-color);
}

/* ==================== Footer ==================== */
footer {
    padding: 96px 135px 0;
    background: #2e2100;
}

footer .row {
    display: flex;
    padding-bottom: 38px;
    border-bottom: 1px solid #59554b;
}

footer .row .column {
    width: calc(65% / 3);
}

footer .row .column:first-child {
    width: 35%;
}

footer .column .logo {
}

footer .column .socials {
    margin-top: 18px;
    display: flex;
    gap: 18px;
}

footer .column .heading {
    border-bottom: 1px solid #59554b;
    display: inline-block;
    padding: 0 48px 14px 0;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75; /* 175% */
}

footer .column .desc {
    margin-top: 18px;
    max-width: 267px;
}

footer .column .desc,
footer .list a {
    color: #bfbcb2;
    font-size: 1.4rem;
    line-height: 1.86; /* 185.714% */
}

footer .column .list {
    margin-top: 28px;
}

footer .column li {
    margin-top: 12px;
}

footer .column li strong {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
}

footer .copyright {
    padding: 28px 0;
}

footer .copyright p {
    color: #807d74;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.86; /* 185.714% */
}
